[Unit]
Description=Configure Wireguard Based on AMI Launch Index on AWS
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
Before=wg-quick@wg0.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '/etc/wireguard/all_peers_wg0.sh `curl -s http://169.254.169.254/latest/meta-data/tags/instance/index` > /etc/wireguard/wg0.conf'

[Install]
WantedBy=multi-user.target wg-quick@wg0.service